{% extends 'index.html' %}
{% block content %}
{% load static %}
<style>
    .desc{
        padding: 0.5em 2em;
    }
    .btn{
        width: 10em;

    }
</style>
    {% include 'authentication/messages.html' %}

    <div class="container mt-4 d-flex align-items-center justify-content-center h-100">
       
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="{% static 'images/back.avif' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 col-lg-7 col-xl-6 mt-4 desc">
                <div><h3>Get Your Notes</h3></div>
                <div class=""><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos soluta magni quaerat! Obcaecati, quae minus?</p></div>
  
                <div><a href="{% url 'notes' %}"><button class="btn btn-success mt-2">Get Now</button></a></div>

                    
                
                
            </div>
        </div>
        
    </div>
{% endblock %}