{% extends 'index.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        {% for x in notes %}
        <div class="card mt-4 me-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{x.mod}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{x.name}}</h6>
                <p class="card-text">Thanks to : {{x.author}} </p>
                <a href="{{x.file.url}}" class="card-link">View PDF</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}